{% extends 'base.html' %}

{% block title %}
Pixly Home
{% endblock %}

{% block content %}

<h1>{{image.title}}</h1>


<h4>Edit the Photo Here: Click to download</h4>
<form action="/images/{{image.id}}" class="form-control" method="POST">
    <input class="form-check-input mt-2" type="checkbox" id="filter" name="filter"></input>
    <label class="form-check-label" for="filter"> Black & White</label>

    <input class="form-check-input mt-2" type="checkbox" id="rotate" name="rotate"></input>
    <label class="form-check-label" for="rotate"> Rotate</label>

    <input class="form-check-input mt-2" type="checkbox" id="mirror" name="mirror"></input>
    <label class="form-check-label" for="mirror"> Flip</label>

    <input class="form-check-input mt-2" type="checkbox" id="contrast" name="contrast"></input>
    <label class="form-check-label" for="contrast">Increase contrast</label>

    <input class="form-check-input mt-2" type="checkbox" id="border" name="border"></input>
    <label class="form-check-label" for="border">Add border</label>

    <input class="form-check-input mt-2" type="checkbox" id="revert" name="revert"></input>
    <label class="form-check-label" for="revert"> Revert to Original</label>

    <button class="btn btn-outline-dark">submit</button>
</form>
<div style="justify-content: center; display: flex; width: 100%; background-color: white; border: 1px solid lightgrey; border-radius: 6px;" >
    <a href="../static/edited.jpeg" download>
        <img style="margin-top: 10%; margin-bottom: 10%;" src="../static/edited.jpeg" alt={{image.title}}>
    </a>
</div>

{% endblock %}