{% extends 'base.html' %}

{% block title %}
Pixly Home
{% endblock %}

{% block content %}
<h1>{{image.title}}</h1>
<a href={{image.image_url}}>
    <img src={{image.image_url}} alt={{image.title}}>
</a>



<h1>Edit the Photo Here</h1>
<form action="/images/{{image.id}}" method="POST">
    <input type="checkbox" name="filter">B&W</input>
    <input type="checkbox" name="rotate">Rotate</input>
    <input type="checkbox" name="mirror">Flip</input>
    <input type="checkbox" name="revert">Revert to Original</input>
    <button>submit</button>
</form>

<a href="../static/edited.jpeg">
    <img src="../static/edited.jpeg" alt={{image.title}}>
</a>
{% endblock %}